@import "~antd/dist/antd.css";

.App {
    text-align: center;
}

.logo {
    height: 60px;
}

.App-header {
    background: #595959;
    padding: 24px 48px 14px;
    color: #fff;
    height: auto;
    line-height: 36px;
}

.Margin-top-2 {
    margin-top: 20px;
}

.button-note {
    margin: 0 16px
}
